
body {
  background: #6251a1;
}


.container {
  margin:100px auto 10px;
  /*background-image: url(../imagenes/fondo1.jpg);*/
  background: #88d222 !important;
  padding: 15px 30px 25px 30px;
  border:1px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 20px rgba(0,0,0,0.7);
  max-width:500px !important;
  text-align: center;

}


p {
  color: #000;
}


h1{
  
  text-align:center;
  margin:0;
  font-size:30px;
  margin-bottom: 10px;
}


label {
  color:#000;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}


/* Para darle color rojo al texto de error que aparece debajo de los campos */
 .error {
  color: red !important;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: bold;
 }

 .genero {
 width: 40px;
 }



